version: '3.4'

networks:
  finite_automatons_app:

services:
  finiteautomatonsdb:
    container_name: finiteautomatonsdb
    image: mcr.microsoft.com/mssql/server:2022-latest
    ports:
     - 8002:1433
    environment:
     - ACCEPT_EULA=Y
     - MSSQL_SA_PASSWORD=myStong_Password123#
    networks:
     - finite_automatons_app

  finite_automatons:
    container_name: finite_automatons
    image: ${DOCKER_REGISTRY-}finiteautomatons
    build:
      context: .
      dockerfile: FiniteAutomatons/Dockerfile
    ports:
     - 8001:8080
    depends_on: 
     - finiteautomatonsdb
    networks:
     - finite_automatons_app
